@mixin respond-to($media) {
    @if $media=='phone' {
        @media (max-width: 360px) {
            @content;
        }
    }

    @else if $media=='laptop' {
        @media (max-width: 1024px) {
            @content;
        }
    }
}

@mixin xlarge-title() {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: $font-size-xxl;
    line-height: 100%;

    color: $color-navy-blue;
    text-align: center;

    @include respond-to('phone') {
        font-size: 4.8rem;
    }
}

@mixin large-title() {
    font-size: $font-size-xl;
    font-weight: 600;
    line-height: 130%;

    color: $color-navy-blue;

    text-align: center;

    @include respond-to('phone') {
        font-size: 2.8rem;
    }
}

@mixin login-title() {
    text-align: left;

    @include flex-row();

    color: $color-midnight-blue;
    font-size: $font-size-xl;
    font-weight: 600;
    line-height: 130%;
}

@mixin click() {
    position: relative;
    top: 0.1rem;
}

@mixin flex-row($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
    align-items: center;
}